<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value="C:\Users\thadd\Desktop\tim_corey\tournament_app\TournamentTracker\data"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-GG56FL5\SQLEXPRESS01;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>